<div class="container">
<section class="form-auth text-center">
<h2>Be cool and sign up if you dont have an account:</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>

  <form class="form-signup">

       <label for="name"></label>
        <%= f.text_field :name, class: "form-control", placeholder: "Enter Userame", tabindex: "2" %>

        <label for="email"></label>
        <%= f.text_field :email, class: "form-control", placeholder: "Enter Email", tabindex: "2" %>
      
        <label for="password"></label>
          <% if@minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <%= f.password_field :password, class: "form-control", tabindex: "2", placeholder: "Password", required: true %>
    
      <label for="password_confirmation"></label>
      <%= f.password_field :password_confirmation, class: "form-control", tabindex: "2", placeholder: "Password Confirmation", required: true %>
</label><br>

      <div><%= f.submit "Sign up", class:"btn btn-primary"%></div>
  </form>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
<% end %>

</section>
</main>



  <!--<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
    <p>Fill in this form to create an account.</p>
    <hr>

 resource %>

<label for="First-name"></label>
    <input type="text" placeholder="Enter First Name", autofocus: true, class: name="First-name" required>

    <label for="Last-name"></label>
    <input type="text" placeholder="Enter Last Name" name="Last-name" required>

    <label for="email"></label>
    <input type="text" placeholder="Enter Email" name="email" required><br>

    <label for="psw"></label>
     <% if@minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
     <% end %>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"></label>
    <input type="password" placeholder="Confirm Password" name="psw-repeat" required>

<div class="checkbox mb-3">
    <label>
      <input type="checkbox" checked="checked" value="remember-me"> Remember me
    </label>
</div>
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
     <!-<button type="button" class="cancelbtn">Cancel</button>-->
     <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </div>
  </div> 



</section>

</main>
<footer class="container">
  <p>&copy; mayv 2020</p>
</footer> -->

