 <div class="container-fluid ml-5">
  <div class="card">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="card-body">
  <%= simple_form_for(@trade) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <% if @trade.errors.any? %>
      <div id="error_explanation", class="btn btn-sm btn-danger mt-3 mb-5">
       <h2><%= pluralize(trade.errors.count, "Error") %>
prevented this trade from being saved:</h2>
        <ul>
          <% @trade.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.label :title %>
    <div class="field">
    <%= f.text_field :title, maxlength: 100, placeholder: 'Title', class:'form-control',required: true, autofocus: true, minlength: 100 %><br>
    </div>  
    
    <%= f.label :address %>
    <div class="field">
    <%= f.text_field :address, maxlength: 100, placeholder: 'Address', class:'form-control',required: true, autofocus: true, autocomplete: "off", minlength: 100 %><br>
    </div>       
      
    <%= f.label :telephone %>   
    <div class="field">
    <%= f.text_field :telephone, maxlength: 100, placeholder: 'Telephone', class:'form-control',required: true, autofocus: true, minlength: 100 %><br>
     </div>

      <%= f.label :description %>
     <div class="field">
     <%= f.text_area :description, placeholder: 'Description', class:'form-control',required: true, autofocus: true,autofocus: true, input_html: { class: "textarea" }, wrapper: false, label_html: { class: "label" } %><br>
     </div>

      <%= f.label :listing %>
     <div class="field">
     <%= f.text_area :listing, placeholder: 'Listing', class:'form-control',required: true, autofocus: true,autofocus: true, input_html: { class: "textarea" }, wrapper: false, label_html: { class: "label" } %><br>
     </div>

      <%= f.label :category %>
     <div class="field">
     <%= f.select :category_id, Category.all.map {|c| [c.category, c.id]}, class:'form-control', required: true, autofocus: true, minlength: 100 %>
     </div></br>
      
   
    
    <%= f.label :clip %>
    <div class="field">
      <div class="control">
        <%= f.input :clip, as: :file, placeholder: 'clip',  input_html: { multiple: true, direct_upload: true }, label: false, wrapper: false %>
      </div>
     </div></br>
    
    <%= f.label :thumbnail %>
     <div class="field">
      <div class="control">
        <%= f.input :thumbnail, as: :file,  input_html: { multiple: true, direct_upload: true }, label: false, wrapper: false %>
      </div>
     </div></br>
      
    <%= f.label :images %>
     <div class="field">
      <div class="control">
        <%= f.input :images, as: :file, input_html: { multiple: true, direct_upload: true }, label: false, wrapper: false %>
      </div>
     </div>

<br>
<div class="text-center">
  <%= f.submit "Save Product", class: "btn btn-success mt3 mb-5" %>
  <%= link_to "Back", trades_path, class:" btn btn-primary mb-5 ml-5" %>
<% end %>
</div>
</div>
  </div>
</div> 