<%= yield (:body_class) %>
    <% if flash[:notice] %>
      <div class="btn btn-sm btn-success notification is-success global-notification mt-3">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="btn btn-sm btn-danger notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">cate</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">

        
       <div class="ml-md-auto">
       <div class="card">
       <div class="card-header ">
      Search by categories
    </div>

    <div class="card-body">

      <ul class="list-group">

    <% @categories.each do |category| %>

    
     <li class="list-group-item d-flex justify-content-between align-items-center">

      <%= link_to category.category, trades_path(:cate => category.id) %>

     <span class="badge badge-primary badge-pill"><%= category.trades.count %></span>
     </li>   
    <% end %>
</ul>
</div>
    </div></div></div></div>
        



<main role="main">


   <div class="container-fluid">
    <div class="row mt-5 bg-light">
    


  <div class="container">
    
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
     <%= image_tag('pic1.png') %>
    </div>
    <div class="carousel-item">
      <%= image_tag('pic2.png') %>
    </div>
    <div class="carousel-item">
     <%= image_tag('pic3.png') %>
    </div>
</div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div>
 

  </div></div>
   
 <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron col-sm-12 text-center btn-default">
    
      <h1 class="title is-1">Enjoy our free trials</h1>
    <p class="subtitle is-5">Looking to get more clients for your products. Mayv here for you!</p>
      
   
    </div>
  </div>
  <div class="container-fluid">
  <div class="row ">
  <div class="col-md-8">
  <div class="row mb-5 bg-light">
  <% @trades.each do |trade| %>
   <div class="row">
            <div style="width:90px; height:100px;">
            </div>
   </div>
  <div class="row ml-1">
    <%= render trade, trade: trade %>
  </div>
  <% end %>
  </div></div>
  <div class="ml-md-auto">
  <div class="card">
  <div class="card-header ">
      Search by categories
    </div>

    <div class="card-body">

      <ul class="list-group">

    <% @categories.each do |category| %>

    
     <li class="list-group-item d-flex justify-content-between align-items-center">

      <%= link_to category.category, trades_path(:cate => category.id) %>

     <span class="badge badge-primary badge-pill"><%= category.trades.count %></span>
     </li>   
    <% end %>
</ul>
</div>
    </div></div></div></div>

  </div> <!-- /container -->
</div>
</main>






